@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Zian";
  src: url("./assets/fonts/zian.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zian";
  src: url("./assets/fonts/zian.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

html,
body {
  height: 100%;
  width: 100%;
}

nav a.active {
  border-bottom: 3px solid #4f9cf9;
  padding: 0.5rem 0rem;
}

/* Tailwind CSS Custom Styles */
.input-field {
  @apply w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.btn-primary {
  @apply bg-blue-500 text-white p-3 rounded-md hover:bg-blue-600;
}

.btn-danger {
  @apply bg-red-500 text-white p-2 rounded-md hover:bg-red-600;
}

@layer base {
  :root {
    --background: 214 100% 99%;
    --foreground: 213 5% 0%;
    --card: 214 100% 97%;
    --card-foreground: 213 5% 10%;
    --popover: 213 100% 95%;
    --popover-foreground: 213 100% 0%;
    --primary: 212 93% 23%;
    --primary-foreground: 0 0% 0%;
    --secondary: 213 93% 64%;
    --secondary-foreground: 0 0% 0%;
    --muted: 175 30% 85%;
    --muted-foreground: 213 5% 35%;
    --accent: 175 30% 80%;
    --accent-foreground: 213 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 213 5% 90%;
    --border: 213 30% 50%;
    --input: 213 30% 18%;
    --ring: 213 93.4% 64.3%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 210 11% 15%;
    --foreground: 214 100% 99%;
    --card: 215 28% 17%;
    --card-foreground: 213 5% 90%;
    --popover: 213 50% 5%;
    --popover-foreground: 213 5% 90%;
    --primary: 212 93% 23%;
    --primary-foreground: 0 0% 0%;
    --secondary: 213 93% 64%;
    --secondary-foreground: 0 0% 100%;
    --muted: 175 30% 15%;
    --muted-foreground: 213 5% 60%;
    --accent: 175 30% 15%;
    --accent-foreground: 213 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 213 5% 90%;
    --border: 213 30% 50%;
    --input: 213 30% 18%;
    --ring: 213 93.4% 64.3%;
    --radius: 0.5rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
